src/main/mule/for-each-sample.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="de8eb930-088f-4cc9-a77a-1a18c7ec5ca0" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="for-each-sampleFlow" doc:id="38d37073-5d31-404b-8df2-7f94d4528f75" >
		<http:listener doc:name="Listener" doc:id="c13113bb-ac55-4947-8ce8-2b880bc9c9a3" config-ref="HTTP_Listener_config" path="/foreach"/>
		<set-payload value="#[[4,7,8,6]]" doc:name="Set Payload" doc:id="161dffa8-6683-4d46-b7fe-d2f67a8aa086" />
		<foreach doc:name="For Each" doc:id="7754710a-f200-460a-9356-534b3da85500" collection="#[payload]">
			<ee:transform doc:name="Transform Message" doc:id="6a860e22-f831-4a7d-83f3-09f82e5d68c0">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload+5]]></ee:set-payload>
			</ee:message>
		</ee:transform>
			<logger level="INFO" doc:name="Logger" doc:id="6187467a-5a3f-4af5-aee5-5ca9795b680a" message="#[payload]"/>
		</foreach>
		<logger level="INFO" doc:name="Logger" doc:id="625ca994-7be1-421b-97eb-6e5e70e64e7c" message="#[payload]"/>
	</flow>
</mule>
