src/main/mule/githubgitbase.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="9a028681-1df9-4aa0-9e7c-5db2a520cae6" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="githubgitbaseFlow" doc:id="4c495111-132d-417f-b763-edb4b973ed16" >
		<http:listener doc:name="Listener" doc:id="31815059-9958-47de-9ccc-3db91594eaba" config-ref="HTTP_Listener_config" path="/g1"/>
		<set-payload value="hi guys h r u" doc:name="Set Payload" doc:id="069d106e-c69b-4be6-9ef1-a223695e3ded" />
		<logger level="INFO" doc:name="Logger" doc:id="efc77574-cc16-4a0f-8fbc-9607d08a9cac" message="#[payload]"/>
	</flow>
</mule>
